<form action="/login" method="post">
<input type="email" name="email" id="email" placeholder="email">
<input type="password" name="password" id="password" placeholder="password">
<button type="submit">Login</button>
</form>
<a href="/forget-password">Forget password?</a>
<a href="/register">New user?</a>

<form action="/otp" method="post">
    <input type="text" placeholder="otp">
    <button type="submit">confirm otp</button>
</form>